<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>New Question</h3>
    <div class="alert alert-warning" role="alert" ng-show="errs.length">
      <button type="button" class="close" aria-label="Close" ng-click="errs=[]"><span aria-hidden="true">&times;</span></button>
      <p ng-repeat="e in errs"> {{e}} </p>
    </div>
    <form>
      <div class="form-group {{errorClass('title')}}">
        <input type="text" class="form-control" ng-model="question.title" 
        placeholder="Give a specific title to your question">
      </div>
      <div class="form-group">
        <pagedown-editor content="question.content"></pagedown-editor>      
      </div>
      <div class="form-group">
        <tags-input ng-model="tags">
          <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>
      </div>
      <button class="btn btn-primary" ng-click="create()">Ask</button>
    </form>
  </div>
</div>