<div class="row">
  <div class="col-md-2"></div>
	<div class="col-md-8">
		<h3>Questions <span ng-show="tag"> tagged with {{tag.name}} </span></h3>
		<tabset>
      <tab heading="New">
        <ul class="list-group">
          <li class="list-group-item row" ng-repeat="q in questions | orderBy: '-id'"><h4>
            <div class="col-md-5">
                <span class="label label-default">{{q.votes.length}} Votes</span>            
                <span class="label label-default">{{q.answers.length}} Answer</span>            
                <span class="label label-default">{{q.views}} Views</span>
            </div>
            <div class="col-md-7">
              <p>
                <a href="#/question/{{q.id}}"> {{q.title}} ({{q.id}})</a>
                <br><div class="pull-right">
                  <a class="btn btn-primary btn-xs" href="#/tag/{{t.id}}"
                    ng-repeat="t in getTags(q.id) track by $index"> {{t.name}} </a>
                </div>
              </p>
            </div>
          </h4></li>
        </ul>
      </tab>
      <tab heading="Most Viewed">
        <ul class="list-group">
          <li class="list-group-item row" ng-repeat="q in questions | orderBy: '-views.length'"><h4>
            <div class="col-md-5">
                <span class="label label-default">{{q.votes.length}} Votes</span>            
                <span class="label label-default">{{q.answers.length}} Answer</span>            
                <span class="label label-default">{{q.views}} Views</span>
            </div>
            <div class="col-md-7">
              <p>
                <a href="#/question/{{q.id}}"> {{q.title}} ({{q.id}})</a>
                <br><div class="pull-right">
                  <a class="btn btn-primary btn-xs" href="#/tag/{{t.id}}"
                    ng-repeat="t in getTags(q.id) track by $index"> {{t.name}} </a>
                </div>
              </p>
            </div>
          </h4></li>
        </ul>
      </tab>
    </tabset>
	</div>
</div>